table {
    text-align: left;
    width: 100%;
    border: solid 1px black;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

table tbody tr:nth-child(even) td {
background-color: rgb(185, 184, 184, 0.3);
}

table td{
    border: 1px solid gray;
}

thead {
    background-color: black;
    color: #f1f1f1;
}
